
.footer-div {
    background-position: center;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #116466;
}
footer h3 {
    color: white;
    text-decoration: none;
   
}
footer ul li  {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    
}
footer ul li a {
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: white;
}